In [105]:
cd C:\Users\Charles\MLB

C:\Users\Charles\MLB

In [106]:
#import the useful libraries.
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [107]:
#import the useful libraries.
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

sns.set(color_codes=True)
sns.set(rc={'figure.figsize':(10,6)})

In [108]:
#read the file
dataset = pd.read_csv('game_logs2.csv')

In [109]:
# Removing unnecessary columns
dataset.drop(data.iloc[:, 10:142], inplace = True, axis = 1)

In [110]:
#print the head of the data frame
dataset.head()

,h_game_number,v_score,h_score,results,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi
0,1,0,2,0,30,4,1,0,0,0
1,1,20,18,1,41,13,1,2,0,13
2,1,12,4,1,49,11,1,1,0,8
3,1,12,14,0,46,15,2,1,2,10
4,1,9,5,1,46,17,4,1,0,6

In [111]:
dataset.isnull().sum()

h_game_number    0
v_score          0
h_score          0
results          0
v_at_bats        0
v_hits           0
v_doubles        0
v_triples        0
v_homeruns       0
v_rbi            0
dtype: int64

In [112]:
#Defining variables y equals independent variable column and x equals all other remaining predictor variables
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 3]

In [113]:
#Checking independent variable (results) column is correct
y

0         0
1         1
2         1
3         0
4         1
         ..
140833    1
140834    0
140835    0
140836    0
140837    0
Name: results, Length: 140838, dtype: int64

In [114]:
dataset

,h_game_number,v_score,h_score,results,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi
0,1,0,2,0,30,4,1,0,0,0
1,1,20,18,1,41,13,1,2,0,13
2,1,12,4,1,49,11,1,1,0,8
3,1,12,14,0,46,15,2,1,2,10
4,1,9,5,1,46,17,4,1,0,6
...,...,...,...,...,...,...,...,...,...,...
140833,162,6,4,1,39,10,4,1,2,6
140834,162,2,5,0,33,8,3,0,0,2
140835,162,1,7,0,30,4,0,0,0,1
140836,162,4,10,0,35,9,0,0,1,4
140837,162,7,10,0,38,14,1,1,2,7

In [115]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [116]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [117]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [118]:
#Prediction variables
y_pred

array([-3.48824740e-16,  1.98904230e-15,  4.80057896e-16, ...,
        1.12185520e-15, -2.62980485e-15,  1.00000000e+00])

In [119]:
#Generate model R2 score 
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [120]:
#Model Score results
score

1.0